<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= albumName %></title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

</head>
<body>

<div class="container">
    <img class="img-rounded" src="/<%= folderName %>/<%= albumName %>.jpg" alt="">
    <div class="row">
        <button class="btn btn-primary" onclick="window.history.back()">返回</button>
    </div>
</div>

</body>
</html>